
       
  <div class="autoWidth">
    
     <md-toolbar color="primary">
     
        <md-menu #account="mdMenu" xPosition="before" color="primary">
          <button md-menu-item routerLink="/signup" > Sign Up </button>
          <button md-menu-item routerLink="/login"> Log in </button>
        
        </md-menu>
 
        
       
        
        <button md-button routerLink="/home"  >Home</button>
        <button md-button routerLink="/shops" >Shops</button>
        <button md-button routerLink="/about" >About</button>
        
        <span class="example-fill-remaining-space">
        <button md-button [mdMenuTriggerFor]="account" xPosition="after">Account</button>
        </span>
     </md-toolbar>

  <router-outlet></router-outlet>

  </div>
  

    

