<div class="bgcolor1">
    <md-nav-list>
        <md-card class="example-card">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>1testtt</md-card-title>
              <md-card-subtitle>1testtt</md-card-subtitle>
            </md-card-header>
        </md-card>
        <md-card class="example-card">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>2teeest</md-card-title>
              <md-card-subtitle>2tesst</md-card-subtitle>
            </md-card-header>
        </md-card>
    </md-nav-list>

</div>