 <div class="bgcolor">
 
     <div class="side">
      
          
                  
                            <md-tab-group>
                              <md-tab label="Cloths">
                                <nav md-tab-nav-bar>
                                      
                                        <app-itemlist></app-itemlist>
                                      
                                    </nav>
                             <!--   <app-itemlist></app-itemlist> -->
                                
                              </md-tab>
                              <md-tab label="Sports items"></md-tab>
                              <md-tab label="Tab 3"></md-tab>
                              <md-tab label="Tab 3"></md-tab>
                              <md-tab label="Search">
                                <md-input-container>
                                  <input mdInput placeholder="Search" >
                                </md-input-container>
                               <!-- <button md-button routerLink="/itemlist"  >Home</button>-->
                              </md-tab>
                              
                            </md-tab-group> 
 
    </div>
     
 </div>
