/* You can add global styles to this file, and also import other style files */
/*import material design */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    
    background:#424242;
    width: 100%;
    margin: auto;
}